.button {
  position: relative;
  line-height: 125%;
}
.typedeafultVariantprimary {
  border-radius: var(--br-10xs);
  background-color: var(--color-dodgerblue);
  height: 55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-white);
  font-family: var(--heading-1);
}
